body {
    background-color: rgb(204, 222, 255);
}

.calcBoard {
    box-shadow: 10px 2px 20px 20px #4b4b4b;
    padding: 32px;
    margin: 48px 128px;
    background-color: #fafafa;
    display: flex;
    height: 800px;
    width: 600px;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 4%;
}

.buttonArea {
    grid-template-areas: 'one two three delete' 'four five six plus' 'seven eight nine minus' 'null dot slash x' 'clear clear equals equals';
    padding-top: 40px;
    grid-template-rows: repeat(5, 1fr);
    background-color: #fafafa;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    height: calc(100% - 180px - 40px);
    justify-items: center;
    align-content: space-around;
    grid-gap: 40px;
}

.input {
    text-align: end;
    font-size: 108px;
    width: 100%;
    height: 22%;
    background-color: darkgrey;
}

#item-1 {
    grid-area: one;
}

#item-2 {
    grid-area: two;
}

#item-3 {
    grid-area: three;
}

#item-4 {
    grid-area: four;
}

#item-5 {
    grid-area: five;
}

#item-6 {
    grid-area: six;
}

#item-7 {
    grid-area: seven;
}

#item-8 {
    grid-area: eight;
}

#item-9 {
    grid-area: nine;
}

#item-clear {
    grid-area: clear;
}

#item-delete {
    grid-area: delete;
}

#item-0 {
    grid-area: null;
}

#item-plus {
    grid-area: plus;
}

#item-- {
    grid-area: minus;
}

#item-x {
    grid-area: x;
    background-color: #4b4b4b;
}

#item-slash {
    grid-area: slash;
    background-color: #4b4b4b;
}

#item-dot {
    grid-area: dot;
}

#item-equals {
    grid-area: equals;
}

.calcButton {
    font-size: 42px;
    border-radius: 6%;
    box-shadow: 0px 4px 6px 2px gray;
    height: 100%;
    width: 100%;
}

.calcButton:hover {
    opacity: 0.8;
}

.calcButton:active {
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
}

#item-equals {
    background-color: rgb(250, 127, 45);
}